<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>j-james | math</title>
		<link rel="icon" type="image/jpg" href="https://j-james.me/assets/compass.jpg"/>
		<link rel="stylesheet" href="https://j-james.me/math/css/style.css"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" crossorigin="anonymous">
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" crossorigin="anonymous"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" crossorigin="anonymous"
			onload='renderMathInElement(document.body, {delimiters: [
				{left: "$$", right: "$$", display: true},
				{left: "\\(", right: "\\)", display: false},
				{left: "\\[", right: "\\]", display: true},
				{left: "$", right: "$", display: false}
			]});'>
		</script>
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1><a href="https://j-james.me/math">j-james/math</a></h1>
				<img src="https://j-james.me/assets/compass.jpg" alt="Logo"/>
				<p>All my math notes, now in Markdown.</p>
				<p class="view"><a href="https://github.com/j-james/math">View the Project on GitHub <small>j-james/math</small></a></p>
			</header>
			<section>
				{{ content }}
			</section>
			<footer>
				<p>This project is maintained by <a href="https://github.com/j-james">{{ site.github.owner_name }}</a></p>
				<p><small>Hosted on GitHub Pages</small></p>
			</footer>
		</div>
	</body>
</html>
